<section class="five-days-section hidden">
  <div class="five-days-header">
    <h1 class="five-days-section__title">Kyiv, UA</h1>
    <div class="chart-controls">
      <button id="chartButton" class="chart-toggle-btn" type="button">
        Show Chart
      </button>
      <button id="chartRefresh" class="chart-refresh-btn" type="button" hidden>
        Refresh
      </button>
    </div>
  </div>
  <div class="cards">
    <div class="days-cards"></div>
    <div class="buttons-container">
      <svg class="arrow left" width="20" height="20">
        <use href="./assets/icons/symbol-defs.svg#icon-left"></use>
      </svg>
      <svg class="arrow right" width="20" height="20">
        <use href="./assets/icons/symbol-defs.svg#icon-right"></use>
      </svg>
    </div>
    <div class="more-info-container hidden"></div>
  </div>
</section>
